body {
	margin: 0;
	padding: 0;
	background: #C7DB51;
	font-family: arial;
}

h1,h2,h3,h4,h5 {
	margin-top: 0;
	text-align: center;
	font-family: arial black, arial;
}

div.in_form {
	margin: 50px auto 0;
	padding: 20px;
	width: 350px;
	border: 1px solid black;
	border-radius: 10px;
	background: #3A3A3A;
	color: white;
	/*position: relative;*/
	box-shadow: -5px 10px 25px #363636;
}

.error {
	margin: 10px auto;
	/*padding: 20px;*/
	width: 300px;
	border: 2px solid #3A3A3A;
	background: #FFFCFB;
	color: #E03E2C;
	font-size: 15px;

}

fieldset {
	display: block;
	margin: auto;
	margin-bottom: 2em;
	width: 300px;
}

h1 {
	text-shadow: -1px 2px 10px black;
}

label {
	display: block;
	font-size: 0.8em;
}

input[type=text], input[type=password] {
	display: block;
	margin: .1em 0 1em 0;
	padding: .2em;
	width: 100%;
	border: 1px solid yellow;
	border-radius: 2px;
}

input[type=submit], form a, .butn {
	margin-right: 1em;
	padding: 6px;
	border: none;
	border-radius: 5px;
	background: #D26F13;
	box-shadow: -1px 1px 10px grey;
	color: white;
	text-decoration: none;
	font-size: 14px;
}

 form a {
	background: #587C0C;
 }

form a:hover {
	background: #587C0C;
	box-shadow: 0 0 0;
	cursor: pointer;
}

 .butn {
 	float: right;
 }

input[type=submit]:hover {
	background: #D26F13;
	box-shadow: 0 0 0;
	cursor: pointer;
}


